.advantages__wrapper {
  min-width: 284px;
  padding-bottom: 1px;
  padding-left: 18px;
  padding-right: 18px;

  display: grid;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding-left: 0;
    padding-right: 0;

    display: grid;
    grid-template-columns: 33.333% 33.334% 33.333%;
  }
}

.advantages {
  background-color: $lightgrey;

  text-align: center;
  vertical-align: center;
}

.advantages__content {
  padding-top: 26px;
  padding-bottom: 0;

  border-bottom: solid 1px $grey;
}

@media (min-width: $tablet-width) {
  .advantages__content {
    padding-top: 41px;
    padding-bottom: 43px;
    padding-left: 32px;
    padding-right: 32px;

    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .advantages__content {
    padding-top: 41px;
    padding-bottom: 62px;
    padding-left: 54px;
    padding-right: 54px;
  }
}

.advantages__content:last-child {
  border-bottom: none;
}

/*Стили для заголовка и текста*/

.advantages__header {
  margin: 0;
  padding: 0;
  padding-bottom: 11px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .advantages__header {
    width: 122px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;

    font-family: $fontbold;
    font-size: 21px;
    line-height: 26px;

    display: block;
  }
}

@media (min-width: $desktop-width) {
  .advantages__header {
    padding-bottom: 15px;
  }
}

.advantages__number {
  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  color: $darkbrown;
  vertical-align: middle;

  display: block;
}

.advantages__text {
  margin: 0;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 24px;

  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  color: $darkbrown;
  vertical-align: middle;

  display: block;
}

@media (min-width: $tablet-width) {
  .advantages__text {
    padding-top: 22px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .advantages__text {
    padding-top: 23px;
    padding-bottom: 0;
  }
}
