.advantages-alone {
  padding-top: 34px;
  padding-bottom: 39px;

  background-color: $blue;

  text-align: center;
  vertical-align: middle;
}

.advantages-alone__header {
  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

.advantages-alone__number {
  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  text-align: center;
  vertical-align: middle;
}

.advantages-alone__text {
  font-family: $font;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  text-align: center;
  vertical-align: middle;
}
