.advantages {
  background-color: $lightgrey;

  text-align: center;
  vertical-align: center;
}

.advantages__content {
  padding-top: 26px;
  padding-bottom: 24px;
  border-bottom: solid 1px $grey;
}

.advantages__content:last-child {
  border-bottom: none;
}

.advantages__header {
  font-family: $fontbold, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  vertical-align: center;
}

.advantages__number {
  font-family: $font, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $darkbrown;
  vertical-align: center;
}

.advantages__text {
  font-family: $font, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: $darkbrown;
  vertical-align: center;
}
