.feedback-finish__wrapper {
  padding-top: 28px;
  padding-bottom: 38px;
  padding-left: 19px;
  padding-right: 21px;
}

@media (min-width: $tablet-width) {
  .feedback-finish__wrapper {
    padding-top: 29px;
    padding-bottom: 62px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .feedback-finish__wrapper {
    padding-top: 29px;
    padding-bottom: 67px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

/*Стили кнопок*/

.feedback-finish__button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 0;
  padding-right: 0;

  background-color: $blue;
  border: none;

  font-family: $fontbold;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  cursor: pointer;

  &:hover {
    background-color: $blue-hover;
  }

  &:active {
    background-color: $blue-down;
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: $grey-disabled;
  }
}

@media (min-width: $tablet-width) {
  .feedback-finish__button {
    width: 100%;
    margin-right: auto;
    padding-top: 18px;
    padding-bottom: 14px;
    padding-right: 10px;

    text-align: center;

    display: block;
    align-self: flex-start;
    flex-basis: 50%;
  }
}

@media (min-width: $desktop-width) {
  .feedback-finish__button {
    padding-left: 78px;
    padding-right: 76px;
  }
}

.feedback-finish__required {
  display: none;
}

@media (min-width: $tablet-width) {
  .feedback-finish__required {
    padding-top: 5px;

    font-size: 14px;
    text-align: right;
    color: $darkbrown;

    visibility: visible;
    display: block;
    vertical-align: middle;
  }
}
