.feedback-preview__wrapper {
  padding-top: 36px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .feedback-preview__wrapper {
    padding-top: 64px;
    padding-bottom: 86px;
    padding-left: 165px;
    padding-right: 165px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-preview__wrapper {
    padding-top: 111px;
    padding-bottom: 57px;
    padding-left: 380px;
    padding-right: 380px;
  }
}

.feedback-preview {
  background-color: $white;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .feedback-preview {
    border-bottom: none;
  }
}

/*Стили для заголовка и текста*/

.feedback-preview__header {
  margin: 0;
  padding: 0;
  padding-bottom: 29px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  display: block;
}

@media (min-width: $tablet-width) {
  .feedback-preview__header {
    padding-bottom: 34px;

    font-family: $fontbold;
    font-size: 30px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-preview__header {
    padding-bottom: 34px;
  }
}

.feedback-preview__text {
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $darkbrown;
  text-align: center;
  vertical-align: middle;
}
