.feedback-finish__wrapper {
  padding-top: 25px;
  padding-bottom: 48px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .feedback-finish__wrapper {
    padding-top: 29px;
    padding-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .feedback-finish__wrapper {
    padding-bottom: 66px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

.feedback-finish__button {
  width: 100%;
  padding-top: 18px;
  padding-bottom: 14px;

  background-color: $blue;
  border: none;

  font-family: $fontbold;
  font-size: 21px;
  line-height: 26px;
  color: $white;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .feedback-finish__button {
    width: 100%;
    padding-top: 18px;
    padding-bottom: 14px;
  }
}

.feedback-finish__required {
  visibility: none;
}

@media (min-width: $tablet-width) {
  .feedback-finish__required {
    width: 100%;

    text-align: right;
    color: $darkbrown;

    visibility: visible;
    display: block;
  }
}
