.feedback-attractions__wrapper {
  padding-top: 13px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;

  display: grid;
  grid-template-columns: auto;
}

@media (min-width: $tablet-width) {
  .feedback-attractions__wrapper {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 0;
    padding-bottom: 34px;
    padding-left: 0;
    padding-right: 0;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
  }
}

@media (min-width: $desktop-width) {
  .feedback-attractions__wrapper {
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 17px;
    padding-bottom: 34px;

    grid-template-columns: 259px 259px 238px auto;
    grid-template-rows: auto auto;
  }
}


.feedback-attractions {
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: $tablet-width) {
  .feedback-attractions {
    border-bottom: none;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

/*Стили лейблов*/

.feedback-attractions__label {
  width: 226px;
  height: 58px;
  padding-bottom: 22px;

  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .feedback-attractions__label {
    padding-left: 32px;
    padding-bottom: 32px;
  }
}

@media (min-width: $tablet-width) and (max-width: 1199px) {
  .feedback-attractions__label:nth-child(even) {
    padding-left: 96px;
  }
}

@media (min-width: $desktop-width) {
  .feedback-attractions__label {
    width: inherit;
    padding-left: 0;

    grid-row-start: 2;
    grid-row-end: 3;
  }
}

/*Заголовок блока*/

.feedback-attractions__header {
  width: 240px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-bottom: 21px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  display: block;
}

@media (min-width: $tablet-width) {
  .feedback-attractions__header {
    width: 100%;
    padding-bottom: 43px;

    font-family: $fontbold;
    font-size: 21px;
    line-height: 26px;
    color: $black;

    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    position: relative;
  }
}

@media (min-width: $desktop-width) {
  .feedback-attractions__header {
    padding-bottom: 45px;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

/*Декоративные линии около заголовка*/

@media (min-width: $tablet-width) {
  .feedback-attractions__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 19%;
    height: 26px;
    border-bottom: 1px solid #dbdbdb;
  }

  .feedback-attractions__header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 19%;
    height: 26px;
    border-bottom: 1px solid #dbdbdb;
  }
}

@media (min-width: $desktop-width) {
  .feedback-attractions__header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 29.167%;
    height: 27px;
    border-bottom: 1px solid #e5e5e5;
  }

  .feedback-attractions__header::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 29.167%;
    height: 27px;
    border-bottom: 1px solid #e5e5e5;
  }
}

/*Подписи к чек-боксам*/

.feedback-attractions__caption {
  padding-left: 78px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  vertical-align: middle;
  text-transform: none;
}

/*Стили для чекбоксов*/

.feedback-attractions__checkbox:checked,
.feedback-attractions__checkbox:not(:checked) {
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption,
.feedback-attractions__checkbox:not(:checked) + .feedback-attractions__caption {
  position: relative;
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption::before,
.feedback-attractions__checkbox:not(:checked) + .feedback-attractions__caption::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: -15px;
  left: -1px;
  height: 56px;
  width: 56px;
  background-color: $covergrey;
  border-radius: 10%;
/*
  &:hover {
    background-color: $grey-hover;
    background-color: #31776e;
  }

  &:active {
    background-color: $grey-down;
    background-color: #31776e;
  }*/
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption:hover::before,
.feedback-attractions__checkbox:not(:checked) + .feedback-attractions__caption:hover::before {
  background-color: $grey-hover;
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption:active::before,
.feedback-attractions__checkbox:not(:checked) + .feedback-attractions__caption:active::before {
  background-color: $grey-down;
}

@media (min-width: $desktop-width) {
  .feedback-attractions__checkbox:checked + .feedback-attractions__caption::before,
  .feedback-attractions__checkbox:not(:checked) + .feedback-attractions__caption::before {
    border-radius: 0%;
  }
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 16px;
  height: 16.23px;
  width: 23.13px;
  /*background: url("../img/tick.svg");*/
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' fill='333333'%3E
  %3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z'/%3E
  %3C/svg%3E");
  background-position: 0 0;
}

.feedback-attractions__checkbox:checked + .feedback-attractions__caption:active::after {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='17' viewBox='0 0 24 17' opacity='0.3' fill='333333'%3E
  %3Cpath d='M22.925 1.325L21.825 0.225C21.525 -0.075 20.925 -0.075 20.625 0.225L8.725 12.125L2.525 5.925C2.225 5.625 1.625 5.625 1.325 5.925L0.225 7.025C-0.075 7.325 -0.075 7.925 0.225 8.225L8.025 16.025C8.225 16.225 8.425 16.225 8.625 16.225C8.825 16.225 9.025 16.125 9.225 16.025L22.725 2.525C23.225 2.225 23.225 1.725 22.925 1.325Z'/%3E
  %3C/svg%3E");
}

.feedback-attractions__label:nth-child(4) .feedback-attractions__checkbox:checked + .feedback-attractions__caption::after {
  content: "";
  top: 4px;
  left: 16px;
}
