.footer-copyright {
  text-align: center;
  vertical-align: center;
}

.footer-copyright__text {
  font-family: $font;
  font-size: 14px;
  font-weight: 26px;
  color: $black;
}

.footer-copyright__logo {
  visibility: hidden;
}
