.gallery-preview__wrapper {
  padding-top: 32px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .gallery-preview__wrapper {
    padding-top: 63px;
    padding-bottom: 76px;
    padding-left: 60px;
    padding-right: 60px;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .gallery-preview__wrapper {
    padding-top: 99px;
    padding-bottom: 79px;
    padding-left: 378px;
    padding-right: 378px;

    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.gallery-preview {
  background-color: $white;
  border-bottom: 1px solid #e5e5e5;
}

.gallery-preview__header {
  margin: 0;
  padding-bottom: 29px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .gallery-preview__header {
    margin: 0;
    padding-bottom: 34px;

    font-family: $fontbold;
    font-size: 30px;
    line-height: 26px;
  }
}

.gallery-preview__text {
  margin: 0;

  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $darkbrown;
  text-align: center;
  vertical-align: middle;
}
