.hashtag__text {
  padding-right: 5px;

  display: block;

  font-family: $fontbold;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
}

@media (min-width: $tablet-width) {
  .hashtag__text {
    padding-top: 12px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 43px;
  }
}

@media (min-width: $desktop-width) {
  .hashtag__text {
    padding-left: 0;
    padding-right: 66px;
  }
}
