.intro {
  background-color: #ffffff;
}

.intro__wrapper {
  min-width: 288px;
  padding-top: 31px;
  padding-bottom: 32px;
  padding-left: 14px;
  padding-right: 18px;

  display: grid;
  grid-template-columns: auto;
}

@media (min-width: $tablet-width) {
  .intro__wrapper {
    padding-top: 44px;
    padding-bottom: 53px;
    padding-left: 140px;
    padding-right: 140px;

    display: grid;
    grid-template-columns: auto;
  }
}

@media (min-width: $desktop-width) {
  .intro__wrapper {
    padding-top: 53px;
    padding-bottom: 42px;
    padding-left: 320px;
    padding-right: 320px;

    display: grid;
    grid-template-columns: auto;
  }
}

.intro__header {
  margin: 0;
  padding: 0;
  padding-bottom: 32px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 27px;
  color: $black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .intro__header {
    margin: 0;
    padding: 0;
    padding-bottom: 33px;

    font-size: 21px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .intro__header {
    margin: 0;
    padding: 0;
    padding-bottom: 34px;
  }
}

.intro__text {
  margin: 0;
  padding: 0;

  font-family: $font;
  font-size: 14px;
  line-height: 26px;
  color: $darkbrown;
  text-align: center;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .intro__text {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (min-width: $desktop-width) {
  .intro__text {
    font-size: 14px;
    line-height: 26px;
  }
}
