.invite {
  background-color: $white;
  text-align: center;
  vertical-align: middle;
}

.invite__wrapper {
  padding-top: 33px;
  padding-bottom: 49px;
}

.invite__header {
  font-family: $fontbold;
  font-size: 21px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  vertical-align: middle;
}

.invite__text {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $darkbrown;
  vertical-align: middle;
}

.invite__button {
  padding-top: 14px;
  padding-bottom: 18px;
  background-color: $blue;
  font-family: $font;
  font-size: 21px;
  line-height: 26px;
  color: $white;
}
