.photogallery__wrapper {
  display: grid;
  grid-template-columns: auto;
}

@media (min-width: $tablet-width) {
  .photogallery__wrapper {
    padding-left: 62px;
    padding-right: 58px;

    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto;
  }
}

@media (min-width: $desktop-width) {
  .photogallery__wrapper {
    padding-left: 0;
    padding-right: 0;

    grid-template-columns: 33% 34% 33%;
    grid-template-rows: auto auto auto auto;
  }
}

.photogallery {
  background-color: $white;
}

/*Блок с фото*/

.photogallery__block {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;

  border-bottom: 1px solid #e5e5e5;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

@media (min-width: $tablet-width) {
  .photogallery__block {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;

    border-bottom: none;
  }
}

@media (min-width: $tablet-width) {
  .photogallery__block--large {
    padding-top: 0;
    padding-bottom: 0;

    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (min-width: $desktop-width) {
  .photogallery__block--large {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

/*Фото в галереи*/

.photogallery__full-size-img {
  background-color: #e9a057;
  font-size: 0;
  line-height: 0;
  display: block;
}

.photogallery__block:nth-child(3) .photogallery__full-size-img {
  background-color: #644a38;
}

.photogallery__block:nth-child(4) .photogallery__full-size-img {
  background-color: #2e4739;
}

.photogallery__block:nth-child(5) .photogallery__full-size-img {
  background-color: #e6af98;
}

@media (min-width: $desktop-width) {
  .photogallery__full-size-img {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.photogallery__img {
  width: 100%;
  height: 280px;
  object-fit: cover;

  font-size: 0;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .photogallery__img {
    height: 267px;
  }
}

.photogallery__img--large {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

@media (min-width: $tablet-width) {
  .photogallery__img--large {
    height: 400px;

    font-size: 0;
    line-height: 0;
  }
}

/*Описание к фото*/

.photogallery__caption {
  padding-top: 11px;

  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photogallery__caption {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;

    background-color: $covergrey;

    flex-direction: row;
    justify-content: space-between;
  }

  .photogallery__block:nth-child(even) .photogallery__caption {
    background-color: #eaeaea;
  }

  .photogallery__block:first-child .photogallery__caption {
    background-color: $covergrey;
  }
}

@media (min-width: $desktop-width) {
  .photogallery__caption {
    padding-top: 16px;
    padding-bottom: 17px;
    padding-left: 21px;
    padding-right: 17px;

    background-color: rgba(0, 0, 0, 0.3);

    flex-direction: row;
    justify-content: space-between;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .photogallery__block:nth-child(even) .photogallery__caption {
    background-color: rgba(0, 0, 0, 0.3);
    padding-left: 23px;
    padding-right: 25px;
  }

  .photogallery__block:nth-child(2) .photogallery__caption {
    padding-left: 20px;
    padding-right: 22px;
  }

  .photogallery__block:nth-child(5) .photogallery__caption {
    padding-left: 18px;
    padding-right: 21px;
  }
}

/*Блок название и автор*/

.photogallery__caption-text {
  display: flex;
  flex-direction: column;
}

.photogallery__header {
  font-family: $fontbold;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  font-weight: bold;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .photogallery__header {
    font-family: $fontbold;
    font-size: 14px;
    line-height: 24px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .photogallery__header {
    color: $white;
  }
}

.photogallery__author {
  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $darkbrown;
  vertical-align: middle;
  text-transform: none;
}

@media (min-width: $desktop-width) {
  .photogallery__author {
    color: $white;
  }
}

/*Блок «Мне нравится»*/

.photogallery__likebox {
  padding-top: 8px;

  display: flex;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .photogallery__likebox {
    padding-top: 0;
  }
}

.photogallery__likebutton {
  width: 23px;
  margin: 0;
  padding: 0;

  font-size: 0;
  border: none;
  background: transparent;
}

.photogallery__likeicon {
  fill: $black;
  opacity: 0.3;
}

@media (min-width: $desktop-width) {
  .photogallery__likeicon {
    fill: $white;
    opacity: 1;
  }
}

.photogallery__likestats {
  padding-top: 5px;
  padding-left: 13px;

  font-family: $fontbold;
  font-size: 14px;
  line-height: 24px;
  color: $black;
  font-weight: bold;
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .photogallery__likestats {
    padding-left: 9px;
    padding-right: 10px;
  }

  .photogallery__block:nth-child(even) .photogallery__likestats {
    padding-left: 9px;
    padding-right: 15px;
  }

  .photogallery__block:nth-child(2) .photogallery__likestats {
    padding-left: 9px;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .photogallery__likestats {
    color: $white;
    padding-left: 11px;
  }
}
