.signboard-small__wrapper {
  width: 100%;
  min-width: 320px;
  height: 105px;
  padding-top: 52px;

  display: grid;
  position: relative;
}

@media (min-width: $tablet-width) {
  .signboard-small__wrapper {
    width: 100%;
    height: 196px;
    padding-top: 94px;
  }
}

@media (min-width: $desktop-width) {
  .signboard-small__wrapper {
    width: 100%;
    height: 198px;
    padding-top: 102px;
  }
}

.signboard-small {
  background-color: #e4f1f9;
  background-image: url("../img/back-desktop.png");
  background-size: cover;
}

.signboard-small__img {
  margin-left: auto;
  margin-right: auto;
}

/*Треугольники*/

.signboard-small::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 100px;
  width: 100%;
  min-width: 200px;
  max-width: $tablet-width;
  height: 57px;

  background: url("../img/intro-triangle-mob.svg") no-repeat;
  background-size: 100% 57px;
  background-position: bottom;

  border-bottom: 0.6px solid $white;
}

@media (min-width: $tablet-width) {
  .signboard-small::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 221px;
    width: 100%;
    min-width: $tablet-width;
    max-width: $desktop-width;
    height: 70px;

    background: url("../img/intro-triangle-tabl.svg") no-repeat;
    background-size: 100% 57px;
    background-position: bottom;

    border-bottom: 0.5px solid $white;
  }
}

@media (min-width: $desktop-width) {
  .signboard-small::after {
    content: "";
    position: absolute;
    z-index: 2;
    top: 231px;
    width: 100%;
    min-width: $tablet-width;
    max-width: $desktop-width;
    height: 70px;

    background: url("../img/intro-triangle-desk.svg") no-repeat;
    background-size: 100% 57px;
    background-position: bottom;

    border-bottom: 2px solid $white;
  }
}
