.video-presentation__wrapper {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 38px;

  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto 45px auto;
}

@media (min-width: $tablet-width) {
  .video-presentation__wrapper {
    width: 100%;
    padding-top: 57px;
    padding-bottom: 41px;

    display: grid;
    grid-template-columns: 113px auto 63px 113px;
    grid-template-rows: auto auto auto 93px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__wrapper {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 85px;

    display: grid;
    grid-template-columns: 263px auto 63px 263px;
    grid-template-rows: auto auto auto 93px;
  }
}

.video-presentation {
  background-color: $white;
}

.video-presentation__header {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;

  font-family: $fontbold;
  font-size: 18px;
  line-height: 26px;
  color: $black;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;

  display: block;

  grid-column-start: 1;
  grid-column-end: 2;
}

@media (min-width: $tablet-width) {
  .video-presentation__header {
    padding-bottom: 35px;

    font-family: $fontbold;
    font-size: 30px;
    line-height: 26px;

    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__header {
    grid-column-start: 1;
    grid-column-end: 5;
  }
}

.video-presentation_text {
  margin: 0;
  padding-left: 42px;
  padding-right: 42px;
  padding-bottom: 33px;

  font-family: $font;
  font-size: 14px;
  line-height: 24px;
  color: $darkbrown;
  text-align: center;
  vertical-align: middle;

  grid-column-start: 1;
  grid-column-end: 2;
}

@media (min-width: $tablet-width) {
  .video-presentation_text {
    margin: 0;
    padding-left: 155px;
    padding-right: 155px;
    padding-bottom: 79px;

    grid-column-start: 1;
    grid-column-end: 5;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation_text {
    padding-left: 370px;
    padding-right: 370px;
    padding-bottom: 76px;
  }
}

.video-presentation__preview {
  height: 201px;
  object-fit: cover;

  font-size: 0;
  line-height: 0;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 5;
}

@media (min-width: $tablet-width) {
  .video-presentation__preview {
    height: 500px;
    padding-left: 62px;
    padding-right: 58px;
    object-fit: cover;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__preview {
    padding-left: 199px;
    padding-right: 202px;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
  }
}

.video-presentation__preview-img {
  width: 100%;
  height: 201px;
  object-fit: cover;

  background-color: #b9af77;

  font-size: 0;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .video-presentation__preview-img {
    height: 500px;
  }
}

.video-presentation__scroll-bar {
  height: 23px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 22px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: rgba(0, 0, 0, 0.3);

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;

  position: relative;
}

@media (min-width: $tablet-width) {
  .video-presentation__scroll-bar {
    height: 40px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 47px;
    background-color: transparent;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__scroll-bar {
    padding-top: 46px;
    padding-left: 29px;
    padding-right: 43px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

.video-presentation__scale {
  width: 100%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.3);
}

@media (min-width: $desktop-width) {
  .video-presentation__scale {
    height: 3px;
    background-color: rgba(255, 255, 255, 0.3);
  }
}

.video-presentation__video-toggle::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 55px;
  width: 11px;
  height: 11px;
  background: url("../img/volume-slider.svg");
  background-position: center;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .video-presentation__video-toggle::after {
    top: 40px;
    left: 154px;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__video-toggle::after {
    top: 42px;
    left: 140px;
  }
}

/*Стили для панели управления видео*/

.video-presentation__buttons-panel {
  height: 43px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 23px;
  padding-left: 24px;
  padding-right: 24px;

  background-color: $covergrey;

  display: flex;
  justify-content: space-between;

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 6;
}

@media (min-width: $tablet-width) {
  .video-presentation__buttons-panel {
    height: 58px;
    margin-left: 62px;
    margin-right: 58px;
    padding-top: 35px;
    padding-left: 34px;
    padding-right: 40px;

    background-color: rgba(0, 0, 0, 0.3);

    display: flex;
    justify-content: space-between;

    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@media (min-width: $desktop-width) {
  .video-presentation__buttons-panel {
    margin-left: 199px;
    margin-right: 202px;
  }
}

/*Стили кнопок управления*/

.video-presentation__start-over {
  margin-right: auto;
}

.video-presentation__start-over-button {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  font-size: 0;
}

.video-presentation__start-over-icon {
  fill: #5c6870;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video-presentation__start-over-icon {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video-presentation__closed-captions {
  padding-right: 31px;
}

.video-presentation__closed-captions-button {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  font-size: 0;
  color: transparent;
}

.video-presentation__closed-captions-icon {
  fill: #5c6870;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video-presentation__closed-captions-icon {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}

.video-presentation__full-screen-button {
  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;

  font-size: 0;
}

.video-presentation__full-screen-icon {
  fill: #5c6870;
  cursor: pointer;

  &:hover {
    fill: #333333;
  }

  &:active {
    fill: #333333;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .video-presentation__full-screen-icon {
    fill: $white;

    &:hover {
      fill: $white;
      opacity: 0.6;
    }

    &:active {
      fill: $white;
      opacity: 0.3;
    }
  }
}
