.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
}

/*Видимость <br> на разных разрешениях*/

@media (min-width: $tablet-width) {
  .visually-mobile {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .visually-mobile-and-tablet {
    display: none;
  }
}

.visually-tablet {
  display: none;
}

@media (min-width: $tablet-width) {
  .visually-tablet {
    display: inline;
  }
}

@media (min-width: $desktop-width) {
  .visually-tablet {
    display: none;
  }
}

.visually-desktop {
  display: none;
}

@media (min-width: $desktop-width) {
  .visually-desktop {
    display: inline;
  }
}

.visually-tablet-and-desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .visually-tablet-and-desktop {
    display: inline;
  }
}

sup {
  vertical-align: top;
}
