/*Шрифты*/

$font: "PT Sans", "Tahoma", sans-serif;
$fontbold: "PT Sans Bold", "Tahoma", sans-serif;

/*Цвета*/

$white: #ffffff;
$black: #000000;
$blue: #81b3d2;
$darkbrown: #333333;
$lightgrey: #eeeeee;
$grey: #e6e6e6;
$covergrey: #f2f2f2;
